<section class="single-comic">
  <div class="row">
    <div class="col span-2-of-3 comic-description">
      <h1><%=@comic.title%></h1>
      <p>Description:<br> <%=@comic.description %></p>
      <p>Price: <%=@comic.price%></p>
    </div>
  </div>
</section>
