/** Document settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1
{
  color: #d9bo8c;
  margin-bottom: 40px;
}

h2
{
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-left:10px;
}

.home-h2
{
  text-align: center;
}
header
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)),url("comics-background.jpg");
  background-size:cover;
  background-position:center;
  height:100vh;
}

.container
{
    width: 1140px;
    margin:0 auto;
}
.container-fluid
{
  width: 100%;
}

section
{
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 5px double #b00;
}

.clearfix {zoom: 1}
.clearfix:after{
    content:'.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
*/

.row-single
{
  width: 1140px;
  margin: 0 auto;
}

/* Comic section*/
.comic-list,
.artist-list,
.character-list
{
  list-style:none;
  width: 100%;
}

.comic-list li
{
  display: block;
  float:left;
  width:22.5%;
  margin-left:10px;
}

.artist-list li,
.character-list li
{
  display: block;
  float:left;
  width:32.26%;
  margin-left:10px;
}

.comic-shadow img
{
  vertical-align: middle;
  width: 100%;
  height: 400px;
}

.comic-shadow p
{
  font-weight: 100;
  font-size: 60%;
  color:#d9bo8c;
}

.comic-shadow
{
  margin-left:2%;
  background-color: #f4f4f4;
  color:#333;
  margin-bottom: 10px;
}

.comic-title-link:link,
.comic-title-link:visited
{
  color: #116466;
  font-size: 150%;
  text-transform: uppercase;
  text-decoration: none;
  transition: text-shadow 0.2s;
}

.comic-title-link:hover,
.comic-title-link:active
{
  font-weight: 300;
  text-shadow: -1px 0 #2c3531, 0 1px #2c3531, 1px 0 #2c3531, 0 -1px #2c3531;
}

.single-comic
{
  background-color: #505050;
}

.comic-image
{
  padding:0;
  margin-left:10px;
}

.comic-image img
{
  height:200px;
  width:95%;
}
.comic-artist-img img
{
  height:50px;
  margin-right:10px;
}

.comic-additional-information
{
    color:#fff;
}

.comic-description
{
  background-color:#dcdde1;
}

.comic-section
{
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 5px double #b00;
}

/* END Comic section*/


/*--- Main navigation Home page*/
.main-nav
{
    padding: 0;
    margin-top:26px;
    float: right;
    list-style:none;
}

.nav-red
{
    margin-top: 10px;
}

.main-nav li,
.main-nav.nav-red li
{
  display: inline-block;
  margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited,
.main-nav.nav-red li a:link,
.main-nav.nav-red li a:visited
{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  padding: 8px 0;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active
{
  border-bottom: 2px solid #ff0000;
}

.main-nav.nav-red li a:hover,
.main-nav.nav-red li a:active
{
  border-bottom: 2px solid #fff;
}


.logo
{
  margin-left: 5px;
  margin-top: 20px;
  height: 5px;
  width: auto;
  float:left;
  display: inline-block;
  color: #fff;
}

.nav-red-logo
{
  margin-top: 1px;
}

.nav-red-logo a
{
  text-decoration: none;
  color:#fff;
}

/*Form Links*/
.form-links
{
  color:white;
  text-decoration: none;
  font-size: 90%;
  padding: 8px 0;

}
.form-links-black
{
  color:black;
  text-decoration: none;
  font-size: 90%;
  padding: 8px 0;
}

#error_explanation
{
  background-color: #b00;
  color:white;
}

#error_explanation ul
{
  list-style: none;
  margin-left: 10px;
}
/*************************************************************************/
/* MAIN NAVIGATION REST OF THE SITE*/
.red-navigation
{
  background-color: #b00;
  height: 50px;
}

/*--SIGN UP FORM --*/
.home-sign-up-form
{
  position: absolute;
  width: 1140px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:#fff;
  padding: 10px;
  /*border: 1px solid #b00;*/
  box-shadow: 0 1px 4px rgba(187, 0, 0, 0.7), 0 0 40px rgba(187, 0, 0, 0.5) inset;
}

.log-in-form
{
  position: absolute;
  width: 1140px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:#fff;
  padding: 10px;
  background-color: #505050;
}

.sign-up-button
{
  background-color: #ff0000;
  color:#fff;
  border-radius: 200px;
  display: inline-block;
  padding: 10px 30px;
  font-size: 150%;
  text-decoration: none;
  margin-top:10px;
}

.add-to-collection
{
  background-color: #b00;
  color:#fff;
  display: inline-block;
  padding: 4px 4px;
  font-size: 80%;
  text-decoration: none;
  margin-top:5px;

}
.sign-up-button:hover,
.sign-up-button:active
{
    background-color: #b00;
    cursor:pointer;
}

/*CREATE NEW COMIC FORM  */
.new-comic-form
{
  margin-top: 20px;
}

input[type=text],
select,
textarea
{
  width: 50%;
}

.hidden_checkbox
{
  display:none;
}

fieldset ul
{
  padding:10px;
  list-style: none;
}
/****************************************/

/*SEARCH BAR*/
.search-bar
{

  height: 50px;
  background-color: #505050;
  color:#fff;
  margin-bottom: 10px;
}

.next-previous-div
{
  height: 50px;
}

.container a
{
  color: #000;
  text-decoration: none;
  display: inline-block;
}
/**********************************************/


/*ion Icon Styles*/
ion-icon[name="person"]
{
  font-size: 110%;
  color:#fff;
}
/*************************/

/*reviews index style links*/
ul #reviews-list
{
  list-style-type: square;
}

.previous_link
{
  float:left;
}

.next-link
{
  float: right;
}

a.hide-link
{
  display: none; !important
}

.comment-panel
{
  list-style-type: none;
  margin:20px;
  border: 2px solid #b00;
  border-radius: 25px;
  padding:10px;
}

.comment-panel p:first-child
{
  font-weight: bold;
}
